html,
body,
#root,
#__next {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

.navigationBar {
  display: flex;
  align-items: center;
}
.navigationChild {
  flex: 5;
  color: #0070f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigationLink {
  color: #0070f3;
  margin-left: 5%;
}
.navigationCompte {
  color: #f27a09;
}

/*///////////////*/

/*/ //////////////*/

/*///////////////*/

.gallerieMain {
  width: 100%;
  display: flex;
}
.gallerieCaroussels {
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  flex: 3;
  justify-content: space-around;
  flex-direction: column;
}
.gallerieCaroussel {
  color: #f27a09;
}
.gallerieBestOf {
  margin-top: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 2;
}
.gallerieBestOfLigne {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}
.gallerieBestOfImage {
  margin-left: 1%;
  color: #f27a09;
}

/*/ //////////////*/

/*///////////////*/

/*/ //////////////*/

.compteMain {
  width: 100%;
  display: flex;
}

.comptePersonne {
  margin-top: 5%;
  margin-left: 5%;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comptePersonneGroupe {
  display: flex;
}

.comptePersonneIdentite {
  width: 100%;
  flex: 3;
  display: flex;
  flex-direction: column;
}

.comptePersonneIdentitePlus {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.comptePersonneIdentitePlusFiliere {
  flex: 1;
}

.comptePersonneIdentitePlusAnciennete {
  flex: 1;
  max-width: 40%;
  flex-wrap: wrap;
  margin-left: 5%;
}

.comptePersonnePhoto {
  flex: 1;
}

.compteGauche {
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.compteDeconnexion {
  margin-top: 5%;
  flex: 2;
}

.compteAdmin {
  margin-top: 5%;
  flex: 3;
}

/*///////////////*/

/*/ //////////////*/

/*///////////////*/

.evenementMain {
  margin-top: 5%;
  padding-inline: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.evenementHaut {
  display: flex;
  flex: 1;
}

.evenementHautDetails {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.evenementHautDetailsNom {
}

.evenementHautDetailsBas {
  margin-top: 2%;
  display: flex;
}

.evenementHautDetailsBasDate {
  flex: 1;
}

.evenementHautDetailsBasHeure {
  flex: 1;
}

.evenementHautDetailsBasLieu {
  flex: 2;
}

.evenementHautBouton {
  flex: 1;
}

.evenementBas {
  margin-top: 2%;
  display: flex;
  flex: 2;
}

.evenementBasAutre {
  flex: 3;
}

.evenementBasAutreDescription {
  margin-top: 2%;
}

.evenementBasAutreMateriel {
  margin-top: 2%;
}

.evenementBasAutreChoree {
  margin-top: 2%;
}

.evenementBasAutreMeteo {
  margin-top: 2%;
}

.evenementBasPhoto {
  flex: 2;
  margin-top: 1%;
  margin-left: 3%;
}

/*/ //////////////*/

/*///////////////*/

/*/ //////////////*/

.evenementsMain {
  margin-top: 5%;
  padding-inline: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.evenementsInternes {
  display: flex;
  flex-direction: column;
}

.evenementsInternesImages {
  display: flex;
}

.evenementsExternes {
  display: flex;
  flex-direction: column;
}

.evenementsExternesImages {
  display: flex;
}

.evenementsPasses {
  display: flex;
  flex-direction: column;
}

.evenementsPassesImages {
  display: flex;
}

.evenementsImagesExemple {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.evenementsImagesExempleNom {
}

.evenementsImagesExemple2 {
  display: flex;
}

.evenementsImagesExemple2Date {
}

.evenementsImagesExemple2Lieu {
  margin-left: 2%;
}

/*///////////////*/

/*/ //////////////*/

/*///////////////*/

.accueilImageReseaux {
  margin-left: 5%;
  border-radius: 10%;
}

.accueilMain {
  margin-top: 5%;
  padding-inline: 5%;
  width: 100%;
  display: flex;
}

.accueilListe{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.accueilListeObjet{
  display: flex;
  flex-direction: column;
}

.accueilListeObjetNom{
}

.accueilListeObjet2{
  display: flex;
}

.accueilListeObjet2Date{

}

.accueilListeObjet2Lieu{
  margin-left: 2%;
}

.accueilDroite{
  display: flex;
  flex-direction: column;
  flex: 3;
}

.accueilDroiteHaut{
  display: flex;
  flex: 1;
}

.accueilDroiteHautReseaux{
  display: flex;
  flex: 3;
  margin-top: 3%;
  margin-left: 2%;
}

.accueilDroiteHautReseauxInsta{

}

.accueilDroiteHautReseauxFacebook{
  margin-left: 2%;
}

.accueilDroiteHautReseauxYouTube{
  margin-left: 2%;
}

.accueilDroiteHautLogo{
  flex: 2;
}

.accueilDroiteBas{
  margin-top: 3%;
  display: flex;
  flex: 3;
}

.accueilDroiteBasEvenements{
  flex: 3;
}

.accueilDroiteBasEvenementsPasses{
  display: flex;
  flex-wrap: wrap;
}

.accueilDroiteBasEvenementsPassesObjet{
  margin-left: 3%;
  display: flex;
  flex-direction: column;
}

.accueilDroiteBasEvenementsPassesObjetNom{
  
}

.accueilDroiteBasEvenementsPassesObjetDate{
  
}

.accueilDroiteBasEvenementsPassesObjetLieu{
  
}

.accueilDroiteBasVideos{
  flex: 2;
}

.accueilDroiteBasVideosObjet{
  
}

.accueilDroiteBasVideosObjetNom{
  
}

/*/ //////////////*/

/*///////////////*/

/*/ //////////////*/

.gallerieEvenementMain {
  margin-top: 5%;
  padding-inline: 5%;
  width: 100%;
  display: flex;
}

.gallerieEvenementGauche {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.gallerieEvenementListe {
  flex: 2;
}

.gallerieEvenementListeLigne {
  margin-top: 2%;
  display: flex;
}
.gallerieEvenementListeImage {
  margin-left: 2%;
}
/*///////////////*/

/*/ //////////////*/

/*///////////////*/

.musiqueMain {
  margin-top: 5%;
  padding-inline: 5%;
  width: 100%;
  display: flex;
}

.musiqueListe {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.musiqueListeObjet {
  display: flex;
  flex-direction: column;
}

.musiqueListeObjetTitre {
  flex: 3;
}

.musiqueListeObjetInfo {
  flex: 2;
  display: flex;
}

.musiqueListeObjetInfoPersonne {
  flex: 1;
}

.musiqueListeObjetInfoDate {
  margin-left: 2%;
  flex: 1;
}

.musiqueListeObjetInfoVote {
  flex: 1;
}

.musiqueListeObjetDescription {
  flex: 1;
}

.musiqueDroite {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.musiqueDroiteTitre {
  margin-top: 5%;
}

.musiqueDroiteListe {

}

/*/ //////////////*/

/*///////////////*/

/*/ //////////////*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
navbarButtons {
  display: flex;
  justify-content: space-evenly;
}
